absl-py==0.12.0
astunparse==1.6.3
blis==0.7.4
cachetools==4.2.2
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
Flask==2.0.1
flatbuffers==1.12
h5py==3.1.0
Jinja2==3.0.1
joblib==1.0.1
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==2.0.1
nltk==3.6.2
numpy==1.19.5
scikit-learn==0.24.2
scipy==1.6.3
six==1.15.0
sklearn==0.0
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
Werkzeug==2.0.1
gunicorn
